@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    background-color: #e9e9e9;
}

/* Header */
.heading {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lists, .as, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

h1 {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0057a9
}





/* Display */
.parent {
    font-family: "Montserrat", sans-serif;
	width:100%;
    display: flexbox;
}
.left {
	float:left;
	width:35%;
    border-right: solid 1px;
    padding:15px;
	box-sizing: border-box;
    text-align: center;
}

.right
{
	float:left;
	width:65%;
    padding:15px;
	box-sizing: border-box;
    text-align: center;
}






/* Dropdown */
.dropdown {
    display: grid;
}

.custom-select {
    position: relative;
}

select {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    width: 100%;
    border: none;
    background-color: #ffffff;
}







/* Preference */
.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  } 
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
    font-size: 16px;
  }
  
  th {
    text-align: left;
  }

  
  td {
    background-color: rgb(177, 177, 177);
  }
  
  /* form {
    display: flex;
    gap: 5px;
  } */
  
  /* form td:last-child {
    display: flex;
    justify-content: space-evenly;
  } */
  
  /* form * {
    font-size: 28px;
  } */

.action-td {
    border: none;
    background-color: #e9e9e9;
}

.col-header {
    background-color: #e9e9e9;
    border: none;
}

.actions {
    text-align: center;
}









/* button */
.action-btn {
   background-color: rgb(177, 177, 177);
   height:25px;
   width:25px;
   cursor:pointer;
   border: none;
   border-radius: 8px;
}

.action-btn:hover {
   background-color: #0057a9;
   color:white;
}

