@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.dropdown {
    display: grid;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20%;
    text-align: center;
}

.dropdown h3{
    color: #112E51;
}

.custom-select {
    position: relative;
    font-family: Arial;
    border: black thin solid;
}

select {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    width: 100%;
    border: none;
    background-color: #112E51;
    color: white;
}
select option{
    color: #112E51;
    background-color: white;
}