.Container{
    background-color: #e9e9e9;
    margin: auto;
}
/* Hide the nav buttons on LandingPage */
.as{
    display: none;
}

/* Flex box structure */
.Row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.Col1{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex: 1;
}

.Col2{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex: 0 40%;
}

/* Left side of the landing page */
.LeftCol{
    padding-top: 14.5%;
}

.LeftCol p {
    padding-top: 1%;
    padding-left: 18%;
    padding-right: 15%;
}

.LeftCol h1{
    padding-left: 17.6%; 
    font-weight: 100;
    color: #112E51;
    font-size: 50px;
}

/* Right side of the landing page */
.RightCol{
    background-color: #e9e9e9;
    text-align: center;
    border-left: solid thin black;
    padding-top: 21.8%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 21.8%;
}

.SignIn{
    background-color: #dadada;
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 50px max(min(120px, calc((100% - 1024px) / 2)), 20px);
    border: solid thin black;
}

input {
    text-align: center;
}

/* .SignUp{
    background-color: #dadada;
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 20px max(min(120px, calc((100% - 1024px) / 2)), 20px);
    border: solid thin black;
} */