/* Hide the nav buttons on LandingPage */
.nav_links{
    visibility: hidden;
}

/* Flex box structure */
.Container{
    background-color: #e9e9e9;
    margin: auto;
}
.Container .Row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.Container .Col1{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex: 1;
}
.Container .Col2{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex: 0 40%;
    min-height: 79vh;
    border-left: solid thin black;
}

/* Left side of the landing page */
.Container .LeftCol{
    padding-top: 14.5%;
}
.Container .LeftCol p {
    padding-top: 1%;
    padding-left: 18%;
    padding-right: 20%;
}
.Container .LeftCol h1{
    padding-left: 17.6%; 
    font-weight: 100;
    color: #112E51;
    font-size: 50px;
}

/* Right side of the landing page */
.Container .RightCol{
    background-color: #e9e9e9;
    text-align: center;
    padding-top: 21.8%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 21.8%;
}
.Container .SignIn{
    background-color: #dadada;
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 50px max(min(120px, calc((100% - 1024px) / 2)), 20px);
    border: solid thin black;
}
.Container input {
    text-align: center;
}

/* .Container .SignUp{
    background-color: #dadada;
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 20px max(min(120px, calc((100% - 1024px) / 2)), 20px);
    border: solid thin black;
} */