.rotate{
  margin-bottom: 2px;   
 }
 
@media (prefers-reduced-motion: no-preference) {
    .rotate {
      animation: rotate infinite 1s  linear;
    }
  }

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }